body {
  font-family: sans-serif;
  font-size: 16px;
  color: #303846;
  margin: 0;
}

h2 {
  font-size: 26px;
  margin: 0;
  padding-bottom: 10px;
}

h4 {
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.pad-top-btm-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-top-btm-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.jc-center {
  display: flex;
  justify-content: center;
}

.section-bg {
  background: white;
}

.ai-center {
  display: flex;
  align-items: center;
}

.marg-top-20 {
  margin-top: 20px;
}

.bg-gray {
  background: #f7f7f7;
  width: 100%;
}

.bg-white {
  background: white;
  width: 100%;
}

.btn {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 20px;
  border: 2px solid;
  border-radius: 12px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  display: inline-block;
}

.a-color {
  color: #303846;
}

.main-header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
  background: white;
}

.header-sticky {
  position: sticky;
  top: 0;
}

.head-logo {
  height: 50px;
  width: 50px;
  padding-right: 10px;
}

.a-header {
  color: #303846;
  padding-right: 10px;
}

.bg-image {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.bg-image-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo-h1 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.main-logo-size {
  width: 140px;
  height: 140px;
}

.main-button {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.section-features {
  display: flex;
  justify-content: space-between;
}

.article-features {
  flex-basis: 300px;
  line-height: 20px;
}

.moon-1 {
  width: 250px;
  margin-left: 70px;
}

.article-about {
  padding-top: 25px;
  padding-bottom: 25px;
}

.moon-2 {
  width: 250px;
  margin-right: 80px;
}

.section-about-2 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.article-about-2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-form {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.form-h2 {
  padding-bottom: 20px;
}

.main-fieldset {
  color: #50ddc2;
  border: 3px solid;
  width: 400px;
}

.main-legend {
  font-size: 20px;
}

.form-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  color: #303846;
}

.select {
  height: 35px;
  width: 170px;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.form-text-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #303846;
}

.input {
  height: 35px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
}

.main-form {
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  flex-direction: column;
}

.form-button {
  color: #50ddc2;
}

.main-footer {
  background: #303846;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 1000px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  display: flex;
  padding-right: 10px;
}

.img-text-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 163px;
}
