body {
  font-family: sans-serif;
  font-size: 16px;
  color: #303846;
  margin: 0;
  background-color: white;
}

h2 {
  font-size: 26px;
}

a {
  text-decoration: none;
}

.btn {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 20px;
  border: 2px solid;
  border-radius: 12px;
  padding: 15px 30px 15px 30px;
}

.a-color {
  color: #303846;
}

.main-header {
  display: flex;
  height: 60px;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.block-logo {
  display: flex;
  align-items: center;
}

.head-logo {
  height: 50px;
  width: 50px;
}

.a-header {
  color: #303846;
  padding-right: 10px;
  
}

.logo-txt {
  padding-left: 10px;
}

.w-100 {
  width: 100%;
}

.ds-flex {
  display: flex;
}

.bg-white {
  background: white;
}

.ds-inblock {
  display: inline-block;
}

.al-it-center {
  text-align: right;
}

.main-logo {
  padding-top: 40px;
}

.main-logo-size {
  width: 140px;
  height: 140px;
}

.bg-banner-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.text-logo-main {
  padding-top: 5px;
  line-height: 5px;
}

.ds-flex {
  display: flex;
}


.text-logo-size-1 {
  font-size: 38px;
  color: white;
}

.text-logo-size-2 {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.bg-banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.main-button {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 17px;
}

.disp-flex-center {
  display: flex;
  justify-content: center;
}

.section-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.inline-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  line-height: 20px;
}

.moon-1 {
  width: 250px;
  margin-left: 70px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-article {
  padding-top: 25px;
  padding-bottom: 25px;
}

.bg-gray {
  background: #f7f7f7;
  width: 100%;
}

.moon-2 {
  width: 250px;
  margin-right: 80px;
}

.main-section-2 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.main-article-2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.bg-form {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-form {
  display: flex;
  flex-direction: column;
}

.form-prewiev {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.main-form {
  display: flex;
  margin-top: 20px;
}

.main-fieldset {
  color: #50ddc2;
  border: 3px solid;
  width: 400px;
}

.main-legend {
  font-size: 20px;
}

.form-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #303846;
}

.select {
  height: 35px;
  width: 170px;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.form-text-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #303846;
}

.input {
  height: 35px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
}

.main-form-1 {
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  flex-direction: column;
}

.form-button {
  margin-top: 30px;
  color: #50ddc2;
  margin-bottom: 30px;
}

.section-form {
  max-width: 1000px;
}

.main-footer {
  background: #303846;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  width: 1000px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  display: flex;
  padding-right: 10px;
}

.img-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 163px;
}
